/* noto-sans-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v42-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v42-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v42-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/noto-sans-v42-latin_latin-ext-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/noto-sans-v42-latin_latin-ext-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/noto-sans-v42-latin_latin-ext-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/noto-sans-v42-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v42-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v42-latin_latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/noto-sans-v42-latin_latin-ext-italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/noto-sans-v42-latin_latin-ext-italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/noto-sans-v42-latin_latin-ext-italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}


html * {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.glyph {
  height: 30px;
  width: auto;
  vertical-align: middle;
}

.badge-slot {
  display: inline-block;
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #cfd8dc;
  background: #eef3f7;
  font-size: 0.85rem;
  margin-right: 0.25rem;
}

.table-tight td, .table-tight th {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

details.bigtable > summary {
  cursor: pointer;
  font-weight: 600;
  margin: 0.25rem 0;
}

details.bigtable table { margin-top: 0.5rem; }

h1 a, h2 a, h3 a {
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover {
  text-decoration: underline;
}




.tableFixHead { overflow: auto; max-height: 60vh; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 2; background: #eee; }
.tableFixHead table { border-collapse: collapse; width: 100%; }
.tableFixHead th, .tableFixHead td { padding: 8px 16px; }


/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }


